body {
  font-family: "Times New Roman", Times, serif;
}

title {
  display: block;
  font-size: 1.4em;
  font-weight: bold;
  border-bottom: solid 3px black;
  line-height: 133%;
  margin-top: 1em;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2 {
  font-size: 1.2em;
}

pre {
  margin: 1em 0px 1em 0px;
  padding-bottom: 1em;
  orphans: 4;
}

@media screen {
  title, h2, p, ol, ul, hr, dl, pre, table {
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    min-width: 8cm;
    max-width: 12.5cm;
  }

  p iframe {
    width: 100%;
  }
  
  ol, ul {
    padding-inline-start: 40px;
  }

  li {
    margin-right: 20px;
  }
}

@media print {
  body {
    font-size: 90%;
  }

  code {
    font-size: 85%;
  }
}

p, ol, ul, dl, li, hr, br {
  line-height: 125%;
}

p, li {
  text-align: justify;
  text-justify: inter-word;
}

li:not(:last-child) {
  margin-bottom: .25em;
}

li > ul {
  margin-left: 0px;
  width: auto;
  list-style-type: disc;
}

section#footer > p:first-child {
  border-top: solid 1px black;
  margin-top: 1em;
  padding-top: .33em;
}

code {
  font-weight: bold;
}

body.index a:link, body.index a:visited, body.index a:active {
  color: blue;
  text-decoration: none;
}

body.content a:link, body.content a:visited, body.content a:active {
  color: #606060;
  text-decoration: none;
  border-bottom: solid 1px #E0E0E0;
}

body.index a:hover, body.content a:hover {
  color: blue;
  text-decoration: underline;
}

p.bio {
  oveflow: auto;
  clear: right;
  display:table;
}

img.bio {
  float:left;
  margin-right: 6px;
  height: 128px;
  width: 128px;
  border: solid 1px #A0A0A0;
}

pre.code {
  width: calc( 50% - 5em );
  background-color: #F4F4F4;
  overflow-x: auto;
}

img.right, img.left {
  width: 192px;
}

img.right {
  float: right;
  margin: 8px 0px 8px 16px;
}

img.left {
  float: left;
  margin: 8px 16px 8px 0px;
}
