h1, h2, p, ol, ul, hr, dl {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 10cm;
  line-height: 125%;
}

dt {
  font-weight: bold;
}

dd {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
}

body.index a:link, body.index a:visited, body.index a:active {
  color: blue;
  text-decoration: none;
}

body.content a:link, body.content a:visited, body.content a:active {
  color: #606060;
  text-decoration: none;
  border-bottom: solid 1px #E0E0E0;
}

body.index a:hover, body.content a:hover {
  color: blue;
  text-decoration: underline;
}

p.bio {
  oveflow: auto;
  clear: right;
  display:table;
}

img.bio {
  float:left;
  margin-right: 6px;
  height: 128px;
  width: 128px;
  border: solid 1px #A0A0A0;
}
